#idi-nav{ background-color: #b62f2f; }
#navbarNavAltMarkup > div > a {
    color: #ebe8e8; font-weight: bold; font-size: 12pt;
}
.brand-img {width: 40px; height: 40px; margin: 5px;}
.idi-body{ 
    background-image: linear-gradient(white,white,#EEEEEE, #aeffae);
    background-size: contain; background-attachment: fixed;
}

h1.pageTitle { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center; padding: 15px 0px; background-color: #ffa6004B;
}
.form-label {padding: 10px; background-color: #014101; color: #ffff27; text-align: center; 
    display:block; width: 100%;}
.required {border-color: red;}
.modal-body{padding: 0px 50px;}
.btn {cursor:pointer;}
#navbarNavAltMarkup > div > div > a.nav-dd {
    color: #ebe8e8; font-weight: bold;
}
.bg-litledark{ background: #dadada;}
form > div.form-group {margin-top: 5px; margin-bottom: 2px;}
#idbaraimg{
    width: 100%; max-width:500px; margin: auto; padding: 50px 0px;
}
#idbaraimg > img { width: 100%; }

@media print{
    .print-hide { display:none; }
}