#lg_wrapper{
    position: absolute; width: 340px; left: 50%; margin-left: -170px;
    height: 400px; top: 50%; margin-top: -250px;
    border: 0px solid maroon; background-color: #bb0000;
    border-radius: 20px; box-shadow: 0px 0px 20px #411818;
}

#lg_header{
    border-radius: 20px 20px 0px 0px; background-color: beige;
    color: #570101; text-align: center; height: 125px;
    padding-top: 35px;
    background-image: url('../img/idilogin.png'); background-size: 340px 125px;
}
#lg_header > h2 , #lg_header > h5 { margin:0; padding: 0;}
#lg_form{
    height: 200px; box-sizing: border-box;
    padding: 15px; padding-top: 30px;}

#lg_footer{
    height: 75px; background-color: #00000080;
    border-radius: 0px 0px 20px 20px;
    text-align: center; color: whitesmoke;
    padding-top: 15px;
}